@font-face {
    font-family: "Gouby";
    src: url("/public/fonts/goubi.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Ariadna";
    src: url("/public/fonts/ariadna.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.main-content {
    padding-top: 80px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;

    background-image: url('/public/images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

/* Set the fixed height of the footer here */
#footer {
    height: 40px;
    background-color: #222222;
}

/*.modal-dialog {*/
/*width: 600px;*/
/*}*/

.thumbnail {
    margin: 0 auto;
}

.item-name {
    height: 130px;
}

.item-box {
    padding: 20px;
}

.item-box:hover {
    border: 0 solid rgba(137, 137, 137, 0.54);
    border-radius: 10px;
    box-shadow: -2px -2px 2px rgba(137, 137, 137, 0.54);
    background-color: rgba(255, 197, 137, 0.2);
}

.item-view-image {
    margin-right: 40px;
    width: 300px;
}

.admin-button {
    width: 95px;
}

textarea {
    resize: vertical;
}

/*For modal dialog*/
.modal {
    display: block;
}

.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

.modal-backdrop {
    background-color: rgba(16, 16, 16, 0.9);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ff0077b3', GradientType = 0);
}

.text-on-main-page:first-letter {
    font-size: 30px;
    font-family: Ariadna, serif;
}

.text-on-main-page {
    font-family: Goubi, Georgia, sans-serif, Arial, serif;
    font-size: 18px;
    text-indent: 20px;
    text-align: justify;
}

.text-logo {
    font-family: Goubi, Georgia, sans-serif, Arial, serif;
}

.thumbnail {
    background-image: url('/public/items-images/placeholder.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.navbar-link {
    color: #999999;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.navbar-link:hover {
    text-decoration: none;
}

div.delete-image {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

div.delete-image:hover:before {
    content: "";
    display: block;
    background: rgba(255, 255, 255, .5);
    background-image: url('/public/images/trash.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

