@font-face {
    font-family: "GoudyOldStyleMTBoldItalic";
    src: url("/core_content/fonts/goubi___-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/*a {*/

/*}*/

.main-content {
    padding-top: 80px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;

    background-image: url('/public/images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

/* Set the fixed height of the footer here */
#footer {
    height: 40px;
    background-color: #222222;
}

.modal-dialog {
    width: 600px;
}

.thumbnail {
    margin: 0 auto;
}

.item-name {
    height: 130px;
    font-family: GoudyOldStyleMTBoldItalic, Georgia, sans-serif, Arial, serif;
}

.item-box {
    padding: 20px;
}

.item-box:hover {
    border: 0 solid rgba(137, 137, 137, 0.54);
    border-radius: 10px;
    box-shadow: -2px -2px 2px rgba(137, 137, 137, 0.54);
    background-color: rgba(255, 197, 137, 0.2);
}

.item-view-image {
    margin-right: 40px;
    width: 300px;
}

.admin-button {
    width: 95px;
}