<div class="modal-dialog" xmlns="http://www.w3.org/1999/html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
            <h4 class="modal-title">Статистика посещений</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table">
                    <tr>
                        <td>Посещений</td>
                        <td>Последняя сессия</td>
                        <td>Город</td>
                    </tr>
                    <tr ng-repeat="visitor in visitors">
                        <td>
                            <span class="badge">{{ visitor.visitsCount }}</span>
                        </td>
                        <td>
                            {{visitor.lastVisitDate | date:'dd.MM.yyyy HH:mm'}}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs dropdown-toggle" type="button"
                                        data-toggle="dropdown">
                                    {{ visitor.regions[0].city }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="region in visitor.regions">{{ region.city }} (<span
                                            ng-if="region.district !== ''">{{ region.district }}, </span>{{
                                        region.country }})
                                        <p class="divider"></p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning admin-button" ng-click="cancel()">Закрыть</button>
        </div>
    </div>
</div>