<button type="button" class="btn btn-success admin-button pull-right" ng-click="open()">Добавить</button>
<div ng-show="selected">Selection from a modal: {{ selected }}</div>

<div>
    <h2>Консоль администрирования</h2>
</div>
<div class="panel panel-default">
    <!--<div class="panel-heading"><h4>Ассортимент товара</h4></div>-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Название</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{ $index + 1}} .</td>
            <td><img src="http://localhost:5000/images/{{ item.image }}" class="thumbnail" style="width: 100px;"/></td>
            <td style="vertical-align: middle;">{{ item.name }}</td>
            <td style="vertical-align: middle;">{{ item.price }} грн.</td>
            <td style="vertical-align: middle;">
                <a href="#/store/{{ item._id }}">
                    <button type="button" class="btn btn-warning admin-button">Изменить</button>
                </a>
                <button type="button" class="btn btn-danger admin-button" ng-click="deleteItem('{{ item._id }}')">
                    Удалить
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>