<label class="pull-right" style="padding-top: 7px">
    Поиск по товарам:
    <input ng-model="searchText">
</label>

<div ng-show="selected">Selection from a modal: {{ selected }}</div>

<div>
    <h2>Консоль администрирования</h2>
</div>

<br/>
<div style="margin-bottom: 10px">
    <button type="button" class="btn btn-success admin-button pull-right" ng-click="addNewItem()">Добавить</button>

    <button type="button" class="btn btn-info admin-button" style="margin-right: 15px;"
            ng-click="openVisitorsStatistics()">
        Статистика
    </button>

    <button type="button" class="btn btn-info admin-button" style="margin-right: 15px"
            ng-click="managePasswords()">
        Пароли
    </button>

    <label>
        Курс:
        <input ng-model="currencyRate" style="40px;">
    </label>
    <button type="button" class="btn btn-info"
            ng-click="setNewRate()">
        Изменить курс
    </button>
</div>
<div style="padding-top: 10px;" class="panel panel-default">
    <!--<div class="panel-heading"><h4>Ассортимент товара</h4></div>-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Название</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items | filter:searchText">
            <td>{{ $index + 1}}.</td>
            <td><img src="http://buona-italia.herokuapp.com/images/{{ item.images[0] }}" class="thumbnail"
                     style="width: 100px;"/></td>
            <td style="vertical-align: middle;">{{ item.name }}</td>
            <td style="vertical-align: middle; width: 90px">{{ item.price }} грн.</td>
            <td style="vertical-align: middle;">
                <!--<a href="#/store/{{ item._id }}">-->
                <button type="button" class="btn btn-warning admin-button" ng-click="addNewItem('{{ item._id }}')">
                    Изменить
                </button>
                <!--</a>-->
                <button type="button" class="btn btn-danger admin-button" ng-click="deleteItem('{{ item._id }}')">
                    Удалить
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>