<div>
    <h1><strong>Contuct us information</strong></h1>

    <h2>Placeholder <strong>I
        Copy-paste from some website</strong>.</h2>
</div>

<div>
    <p>
        Проконсультироваться или сделать заказ можете по следующим телефону:

        Тел: (063) 253-67-18 Украина

        Тел: (067) 903-95-40 Украина

        Тел: (095) 556-45-15 Украина

        Все заказы по Киеву обслуживается отдельным телефонам.


        Тел: (096) 755-90-00, (063)475-70-97 Киев

        Тел: (063) 442-34-64 - отдел доставки по г. Киеву


        Или написав на E-mail: info@sportivnoepitanie.in.ua
    </p>
</div>

<hr>
<div>
    <h2 class="text-error">{{message}}</h2>

    <form class="form-inline">
        <input type="text" ng-model="message" placeholder="Message">
        <button type="submit" class="btn" ng-click="updateMessage(message)">Update Message</button>
    </form>
</div>
