<div>
    <h2>Контактная информация</h2>
</div>

<div>
    <p>
        Проконсультироваться или сделать заказ можете по следующим телефонам:
    </p>

    <p>
        Тел: (063) 253-67-18 Украина
    </p>

    <p>
        Тел: (067) 903-95-40 Украина
    </p>

    <p>
        Тел: (095) 556-45-15 Украина
    </p>

    <p>
        Все заказы по Киеву обслуживается отдельным телефонам.
    </p>

    <p>

        Тел: (096) 755-90-00, (063)475-70-97 Киев
    </p>

    <p>
        Тел: (063) 442-34-64 - отдел доставки по г. Киеву
    </p>

    <p>
        Или написав на E-mail: info@sportivnoepitanie.in.ua
    </p>
</div>
