<div xmlns="http://www.w3.org/1999/html">
<h2>Лучшие рецепты от нашего магазина</h2>
<br/>

<!--1-->
<div class="recipe">
    <h3 style="text-align: center;">Паста алла Китарра (Pasta alla chitarra)</h3>
    <img src="/public/images/pasta_alla_chitarra.jpg" class="thumbnail img-responsive">

    <p>
        «Chitarra» — это такое приспособление, которым пользуются в регионе Абруццо для
        изготовление свежей пасты. В каждом доме оно обязательно есть. Паста алла Китарра —
        является одним из самых распроостраненных блюд региона Абруццо.
    </p>
    <h4>
        Ингредиенты:
    </h4>
    <ul>
        <li>Яйца - 4 шт.</li>
        <li><b>Мука твердых сортов</b> - 400 гр. (<b>это можно купить у нас</b>)</li>
        <li><b>Оливковое масло</b> - 3 ст.л (<b>это можно купить у нас</b>)</li>
        <li><b>Сыр Пекорино </b> - 50 гр. (<b>это можно купить у нас</b>)</li>
        <li><b>Помидоры в собственном соку </b> - 250 гр. (<b>это можно купить у нас, есть чищенные</b>)</li>
        <li>Сельдерей - 1/2 ветки</li>
        <li>Морковь - 1 шт.</li>
        <li>Бекон - 150 гр.</li>
        <li>Лук - 1/2 шт.</li>
        <li>Петрушка - 3 ветки</li>
        <li>Петрушка - 3 ветки</li>
        <li>Базилик - 3 листика</li>
        <li>Перец - по вкусу</li>
    </ul>

    <h4>Процесс приготовления:</h4>
    <ol>
        <li><p>Просеять муку, посолить, в центре сделать углубления и разбить яйца. Затем добавить 1/2 столовой
            ложки оливкового масла и замесить тесто. Раскатать тесто очень тонко, нарезать на одинаковые
            прямоугольники. Распределить тесто на «Chitarra» и с помощью скалки продавить тесто. (Или можно
            использовать машинку для пасты). </p></li>
        <li><p>Обжарить бекон до прозрачного цвета в оливковом масле. Затем добавить помидоры без кожуры и семечек,
            нарезанные мелко. Нарезать кусочками морковь, сельдерей, лук. Мелко нашинковать петрушку. Добавить
            нарезанные овощи. Посолить, поперчить. Протушить все на среднем огне, затем уменьшить огонь накрыть
            крышкой и тушить еще 15 минут. </p></li>
        <li><p>Отварить пасту в подсоленной воде, слить воду и добавить в соус и сразу подавать.</p></li>
    </ol>
    <h4>Приятного аппетита!</h4>

</div>

<!--2-->

<div class="recipe">

    <h3 style="text-align: center;">Каннеллони с начинкой из мяса</h3>
    <img src="/public/images/canelloni_with_meat.jpg" class="thumbnail img-responsive">

    <p>
        Каннеллони с мясной начинкой – блюдо известное и оцененное гурманами всего мира. Это блюдо типичное для
        регионов Тосканы, Умбрии и Эмилии Романьи. Существует несколько вариантов начинки – мясной фарш, рикота,
        шпинат. Предлагаю классический рецепт начинки из мяса. Данный рецепт имеет более насыщенный вкус, т.к.
        используется таже ветчина и колбаски.
    </p>
    <h4>
        Ингредиенты:
    </h4>
    <ul>
        <li>Фарш говяжий - 150 гр.</li>
        <li>Лук - 1 шт.</li>
        <li><b>Оливковое масло</b> - 6 ст.л (<b>это можно купить у нас</b>)</li>
        <li><b>Пармезан </b> - 65 гр. (<b>это можно купить у нас</b>)</li>
        <li>Сухари - 1 ст.л.</li>
        <li>Перец - по вкусу</li>
        <li>Куриный фарш - 200 гр.</li>
        <li>Ветчина - 50 гр.</li>
        <li>Колбаски - 100 гр.</li>
        <li>Яйца - 2 шт.</li>
        <li><b>Каннеллони</b> - 18 шт. (<b>это можно купить у нас</b>)</li>
        <li><b>Соус Бешамель</b> - 500 мл. (<b>это можно купить у нас</b>)</li>
        <li>Чеснок - 1 зубок</li>
        <li>Базилик - 3 листика</li>
        <li>Томатная паста - 300 мл.</li>
    </ul>

    <h4>Процесс приготовления:</h4>
    <ol>
        <li><p>В первую очередь приготовим томатный соус – разогреть на сковороде 3 ст.л. оливкового масла,
            добавить чеснок и обжарить до золотистого цвета. Затем добавить томатную пасту, посолить,
            поперчить и готовить в течение 10-15 минут на медленном огне. Затем выключить и добавить несколько
            листиков базилика.</p></li>
        <li><p>Очистить и нарезать лук и обжарить на оливковом масле (3 ст.л.), затем добавить
            мелко нарезанные колбаски, фарш, нарезанную ветчину и фарш куриный. Обжарить мясо в течение 3-5минут,
            периодически помешивая. Затем посолить, поперчить и выключить огонь. Остудить начинку и затем добавить 2
            яйца, сухари и пармезан 50 гр. и хорошо перемешать. Начинка должна получиться довольно сухой.</p></li>
        <li><p>Отварить каннеллони до состояния аль денте. Выложить на влажное полотенце.
            Наполнить каннеллони начинкой. Дно блюда для запекания смазать томатным соусом. Сверху выложить
            канелони, полить соусом Бешамель. Затем ложкой выложить оставшийся томатный соус и присыпать
            пармезаном. Запекать в духовке 40 минут, при температуре 180&deg;С до получения
            золотистой корочки.</p></li>
    </ol>
    <h4>Приятного аппетита!</h4>
</div>

<!--3-->

<div class="recipe">

    <h3 style="text-align: center;">Соус песто из шпинатна</h3>
    <img src="/public/images/sauce_pesto_with_spinach.jpg" class="thumbnail img-responsive">

    <p>
        Соус песто — один из самых популярных итальянских соусов, который является главной причиной того, почему
        итальянцы так нежно привязаны к макаронам. Да просто они едят их с соусом песто, а это, поверьте, невероятно
        вкусно! Обычно соус песто готовится из базилика, но для некоторых его вкус слишком навязчив, поэтому
        существует более мягкий, сливочный вариант этого блюда.
    </p>
    <h4>
        Ингредиенты:
    </h4>
    <ul>
        <li>Шпинат - 150 гр.</li>
        <li>Кедровые орешки (измельчить) - 30 гр.</li>
        <li>Чеснок - 2 зубка</li>
        <li><b>Оливковое масло</b> - 100 мл. (<b>это можно купить у нас</b>)</li>
        <li><b>Пармезан </b> - 100 гр. (<b>это можно купить у нас</b>)</li>
        <li>Соль - по вкусу (но можно и без соли, так как Пармезан достаточно соленый)</li>
    </ul>

    <h4>Процесс приготовления:</h4>

    <p>
        Для приготовления песто лучше брать самые нежные и молодые листья. Если у вас шпинат грубый, побланшируйте
        его пару минут в кипятке перед приготовлением.
        Листья необходимо промыть и обсушить, отделить от стеблей и нарезать по возможности мельче.
        Затем поместите листья в ступку, немного посолите и разотрите их пестиком. Переложите шпинат в стеклянную
        или керамическую миску и полейте его оливковым маслом.
        Почистите чеснок, мелко нарежьте, переложите в ступку, перетрите пестиком вместе с солью. Добавьте растертый
        чеснок к шпинату. Туда же добавьте натертый на мелкой терке пармезан, хорошенько перемешайте ингредиенты.
        Поджарьте кедровые орешки, перетрите их в ступке и смешайте с соусом. Долейте еще оливкового масла и снова
        все перемешайте. Поставьте на пару часов в холодильник, чтобы соус настоялся.
        Подавайте его к макаронам, рису, бобовым, намазывайте на хлебцы – все это очень вкусно!
    </p>

    <h4>Приятного аппетита!</h4>
</div>

<!--4-->

<div class="recipe">

    <h3 style="text-align: center;">Яркий и аппетитный рецепт на основе тунца</h3>
    <img src="/public/images/tuna_recipe.jpg" class="thumbnail img-responsive">

    <p>
        Яркий и аппетитный рецепт на основе тунца, который в последнее время все чаще используется в свежем виде,
        особенно на юге Италии.
    </p>
    <h4>
        Ингредиенты (4 порции):
    </h4>
    <ul>
        <li><b>Макароны Farfalle №65</b> — 350 гр. (<b>это можно купить у нас</b>)</li>
        <li>Свежий тунец — 300 гр.</li>
        <li>Помидоры черри — 200 гр.</li>
        <li><b>Крупные маслины без косточки</b> — 100 гр. (<b>это можно купить у нас</b>)</li>
        <li>Белый лук — 50 гр.</li>
        <li><b>Оливковое масло extra vergine</b> — 30 гр. (<b>это можно купить у нас</b>)</li>
        <li>Петрушка — 1 пучок</li>
        <li><b>Белое сухое вино</b> — 1 стакан (<b>это можно купить у нас</b>)</li>
        <li>Острый перец - по вкусу</li>
        <li>Соль - по вкусу</li>
    </ul>

    <h4>Процесс приготовления:</h4>

    <ol>
        <li><p>В течение нескольких минут обжарьте мелко порезанный лук в оливковом масле, затем добавьте порезанный
            крупными кубиками тунец и готовьте еще 2 минуты. Влейте белое вино и дайте ему полностью испариться.</p>
        </li>
        <li><p>Добавьте порезанные на четыре части помидоры черри, оливки и готовьте еще 2 минуты. В завершении
            добавьте в соус мелко порубленную свежую петрушку, соль и молотый красный перец.</p></li>
        <li><p>Отварите пасту фарфалле в большом количестве подсоленой воды до состояния «аль денте», слейте воду и
            добавьте соус.</p></li>
    </ol>
    <p><b>Совет шеф-повара: </b> Тунец в этом блюде можно заменить на рыбу-меч. Завершающий штрих блюду можно придать,
        посыпав его
        обжаренным луком-пореем.</p>

    <p><b>Рекомендации по вину: </b> К этому простому средиземноморскому блюду рекомендуется подавать молодое легкое
        белое вино, с мягким
        вкусом и ароматами трав и фруктов.</p>


    <h4>Дополнительная информация о блюде:</h4>

    <p>
        Уровень сложности: Низкий ;) </br>
        Время приготовления: 20 минут </br>
        Пищевая ценность на одну порцию готовой пасты: </br>
        Энергетическая ценность — 545 Ккал </br>
        - Белки — 29 гр. </br>
        - Углеводы — 73 гр. </br>
        - Жиры — 15 гр. </br>
    </p>

    <h4>Приятного аппетита!</h4>
</div>

<!--5-->

<div class="recipe">

    <h3 style="text-align: center;">Лазанья</h3>
    <img src="/public/images/lasagne.jpg" class="thumbnail img-responsive">

    <h4>
        Ингредиенты:
    </h4>
    <ul>
        <li>Грецкий орех - 60 гр.</li>
        <li>Чеснок - 60 гр.</li>
        <li><b>Сливочное масло</b> - 75 гр. (<b>это можно купить у нас</b>)</li>
        <li>Хлебные крошки или сухари</li>
        <li><b>Оливковое масло</b> (<b>это можно купить у нас</b>)</li>
        <li><b>Листы для лазаньи</b> (<b>это можно купить у нас</b>)</li>
        <li><b>Тертый пармезан</b> (<b>это можно купить у нас</b>)</li>
    </ul>

    <h4>Процесс приготовления:</h4>

    <p>
        Толченые грецкие орехи замочите в кипятке на 5 минут. Измельчите в комбайне чеснок, хлебные крошки и
        орехи (воду нужно предварительно слить) до образования грубой пасты.
        Добавьте в образовавшуюся массу оливковое масло и снова взбейте. Приправьте.
        Тем временем замочите в кипятке или немного отварите листы для лазаньи,
        чтобы они стали мягкими (не разваривайте их!).
        Теперь смажьте форму для выпечки сливочным маслом и выкладываете все в следующем порядке:
        лист лазаньи, ореховую массу, пармезан. Последним слоем должен быть слой пармезана,
        смешанного с чесночно-ореховой пастой. Запекайте 15 минут в духовке и подавайте лазанью к столу горячей!
    </p>

    <h4>Приятного аппетита!</h4>
</div>

<!--6-->

<div class="recipe">

    <h3 style="text-align: center;">Грибная лазанья с блинами</h3>
    <img src="/public/images/mushrums_lasagne.jpg" class="thumbnail img-responsive">

    <h4>
        Ингредиенты:
    </h4>
    <ul>
        <li>Блинчики</li>
        <li>Шампиньоны - 700 гр.</li>
        <li><b>Сыр</b> - 400 гр. (<b>это можно купить у нас</b>)</li>
        <li>Сметана - 400 гр.</li>
        <li>4 луковицы</li>
        <li>Приправы - по вкусу</li>
    </ul>

    <h4>Процесс приготовления:</h4>

    <p>
        Грибы нарежьте и обжарьте до полного испарения воды, добавьте мелко нашинкованный лук,
        3-4 столовые ложки сметаны и тушите минут 5.
        Форму для лазаньи (это глубокие продолговатые формы для запекания) смажьте подсолнечным маслом,
        положите два блина, затем немного грибов, натертого на мелкую терку сыр, снова блин, грибы и сыр и так до конца.
        В самом конце выложите два блинчика, смазанных обильно сметаной (как торт) и посыпьте оставшимся сыром.
        Выпекайте в духовке при 180&deg;С минут 20 до румяной корки.
    </p>

    <h4>Приятного аппетита!</h4>
</div>

<!--7-->

<div class="recipe">

    <h3 style="text-align: center;">Паста с чернилами каракатицы</h3>
    <img src="/public/images/pasta_karakatica.jpg" class="thumbnail img-responsive">

    <h4>
        Ингредиенты (3-4 порции):
    </h4>
    <ul>
        <li><b>Спагетти с чернилами каракатицы</b> - 400 гр. (<b>это можно купить у нас</b>)</li>
        <li>2 лимона</li>
        <li><b>Тертый пармезан(например Parmigiano Reggiano)</b> - 100 гр. (<b>это можно купить у нас</b>)</li>
        <li>Креветки</li>
        <li>Мята - 1 пучок</li>
        <li>Чеснок - 4 зубка</li>
        <li><b>Оливковое масло холодного отжима</b> - 5 ст. л. (<b>это можно купить у нас</b>)</li>
        <li>Морская соль разных помолов (<b>это можно купить у нас</b>)</li>
        <li>Свежемолотый черный перец</li>

    </ul>

    <h4>Процесс приготовления:</h4>

    <p>
        Снимаем с лимонов цедру и измельчаем ее. Измельчаем чеснок.
        Из самих лимонов выжимаем сок. В сковороду вливаем масло.
        Важно – масло вливать на холодную сковороду. Добавляем к маслу чеснок, половину цедры и листья мяты.
        Я в этот раз мяту не добавляла, но очень рекомендую.
        Естественно, стебли в соус не кладем – только листья.
        Затем ставим сковороду на медленный огонь и готовим около 5 минут, после чего добавляем соль перец и лимонный
        сок.
        </br>Не прибавляя огня, даем прогреться соусу еще минут 10. Масло не должно кипеть, поэтому следите.
        </br>Тем временем отвариваем пасту столько времени, сколько указано на упаковке.
        </br>Пока варится паста, на отдельной сковороде быстро обжариваем креветки на оливковом масле, солим и перчим.
        Нужно напоминать, что креветкам удаляем кишечную вену на спинке?
        </br>Отваренную пасту перекладываем в сковороду с лимонным соусом, добавляем креветки.
        Затем всыпаем тертый пармезан, перемешиваем и разделяем по тарелкам, желательно подогретым!
        Посыпаем оставшейся цедрой и подаем незамедлительно.
    </p>

    <h4>Приятного аппетита!</h4>
</div>
</div>
