<div>
    <h2>Лучшие рецепты от нашего магазина</h2>
    <br/>

    <!--1-->
    <div class="recipe">
        <h3 style="text-align: center;">Паста алла Китарра (Pasta alla chitarra)</h3>
        <img src="/public/images/pasta_alla_chitarra.jpg" class="thumbnail img-responsive">

        <p>
            «Chitarra» — это такое приспособление, которым пользуются в регионе Абруццо для
            изготовление свежей пасты. В каждом доме оно обязательно есть. Паста алла Китарра —
            является одним из самых распроостраненных блюд региона Абруццо.
        </p>
        <h4>
            Ингредиенты:
        </h4>
        <ul>
            <li>Яйца - 4 шт.</li>
            <li><b>Мука твердых сортов</b> - 400 гр. (<b>это можно купить у нас</b>)</li>
            <li><b>Оливковое масло</b> - 3 ст.л (<b>это можно купить у нас</b>)</li>
            <li><b>Сыр Пекорино </b> - 50 гр. (<b>это можно купить у нас</b>)</li>
            <li><b>Помидоры в собственном соку </b> - 250 гр. (<b>это можно купить у нас, есть чищенные</b>)</li>
            <li>Сельдерей - 1/2 ветки</li>
            <li>Морковь - 1 шт.</li>
            <li>Бекон - 150 гр.</li>
            <li>Лук - 1/2 шт.</li>
            <li>Петрушка - 3 ветки</li>
            <li>Петрушка - 3 ветки</li>
            <li>Базилик - 3 листика</li>
            <li>Перец - по вкусу</li>
        </ul>

        <h4>Процесс приготовления:</h4>
        <ol>
            <li><p>Просеять муку, посолить, в центре сделать углубления и разбить яйца. Затем добавить 1/2 столовой
                ложки оливкового масла и замесить тесто. Раскатать тесто очень тонко, нарезать на одинаковые
                прямоугольники. Распределить тесто на «Chitarra» и с помощью скалки продавить тесто. (Или можно
                использовать машинку для пасты). </p></li>
            <li><p>Обжарить бекон до прозрачного цвета в оливковом масле. Затем добавить помидоры без кожуры и семечек,
                нарезанные мелко. Нарезать кусочками морковь, сельдерей, лук. Мелко нашинковать петрушку. Добавить
                нарезанные овощи. Посолить, поперчить. Протушить все на среднем огне, затем уменьшить огонь накрыть
                крышкой и тушить еще 15 минут. </p></li>
            <li><p>Отварить пасту в подсоленной воде, слить воду и добавить в соус и сразу подавать.</p></li>
        </ol>
        <h4>Приятного аппетита!</h4>

    </div>

    <!--2-->

    <div class="recipe">

        <h3 style="text-align: center;">Каннеллони с начинкой из мяса</h3>
        <img src="/public/images/canelloni_with_meat.jpg" class="thumbnail img-responsive">

        <p>
            Каннеллони с мясной начинкой – блюдо известное и оцененное гурманами всего мира. Это блюдо типичное для
            регионов Тосканы, Умбрии и Эмилии Романьи. Существует несколько вариантов начинки – мясной фарш, рикота,
            шпинат. Предлагаю классический рецепт начинки из мяса. Данный рецепт имеет более насыщенный вкус, т.к.
            используется таже ветчина и колбаски.
        </p>
        <h4>
            Ингредиенты:
        </h4>
        <ul>
            <li>Фарш говяжий - 150 гр.</li>
            <li>Лук - 1 шт.</li>
            <li><b>Оливковое масло</b> - 6 ст.л (<b>это можно купить у нас</b>)</li>
            <li><b>Пармезан </b> - 65 гр. (<b>это можно купить у нас</b>)</li>
            <li>Сухари - 1 ст.л.</li>
            <li>Перец - по вкусу</li>
            <li>Куриный фарш - 200 гр.</li>
            <li>Ветчина - 50 гр.</li>
            <li>Колбаски - 100 гр.</li>
            <li>Яйца - 2 шт.</li>
            <li><b>Каннеллони</b> - 18 шт. (<b>это можно купить у нас</b>)</li>
            <li><b>Соус Бешамель</b> - 500 мл. (<b>это можно купить у нас</b>)</li>
            <li>Чеснок - 1 зубок</li>
            <li>Базилик - 3 листика</li>
            <li>Томатная паста - 300 мл.</li>
        </ul>

        <h4>Процесс приготовления:</h4>
        <ol>
            <li><p>В первую очередь приготовим томатный соус – разогреть на сковороде 3 ст.л. оливкового масла,
                добавить чеснок и обжарить до золотистого цвета. Затем добавить томатную пасту, посолить,
                поперчить и готовить в течение 10-15 минут на медленном огне. Затем выключить и добавить несколько
                листиков базилика.</p></li>
            <li><p>Очистить и нарезать лук и обжарить на оливковом масле (3 ст.л.), затем добавить
                мелко нарезанные колбаски, фарш, нарезанную ветчину и фарш куриный. Обжарить мясо в течение 3-5минут,
                периодически помешивая. Затем посолить, поперчить и выключить огонь. Остудить начинку и затем добавить 2
                яйца, сухари и пармезан 50 гр. и хорошо перемешать. Начинка должна получиться довольно сухой.</p></li>
            <li><p>Отварить каннеллони до состояния аль денте. Выложить на влажное полотенце.
                Наполнить каннеллони начинкой. Дно блюда для запекания смазать томатным соусом. Сверху выложить
                канелони, полить соусом Бешамель. Затем ложкой выложить оставшийся томатный соус и присыпать
                пармезаном. Запекать в духовке 40 минут, при температуре 180&deg;С до получения
                золотистой корочки.</p></li>
        </ol>
        <h4>Приятного аппетита!</h4>
    </div>

    <!--3-->

    <div class="recipe">

        <h3 style="text-align: center;">Соус песто из шпинатна</h3>
        <img src="/public/images/sauce_pesto_with_spinach.jpg" class="thumbnail img-responsive">

        <p>
            Соус песто — один из самых популярных итальянских соусов, который является главной причиной того, почему
            итальянцы так нежно привязаны к макаронам. Да просто они едят их с соусом песто, а это, поверьте, невероятно
            вкусно! Обычно соус песто готовится из базилика, но для некоторых его вкус слишком навязчив, поэтому
            существует более мягкий, сливочный вариант этого блюда.
        </p>
        <h4>
            Ингредиенты:
        </h4>
        <ul>
            <li>Шпинат - 150 гр.</li>
            <li>Кедровые орешки (измельчить) - 30 гр.</li>
            <li>Чеснок - 2 зубка</li>
            <li><b>Оливковое масло</b> - 100 мл. (<b>это можно купить у нас</b>)</li>
            <li><b>Пармезан </b> - 100 гр. (<b>это можно купить у нас</b>)</li>
            <li>Соль - по вкусу (но можно и без соли, так как Пармезан достаточно соленый)</li>
        </ul>

        <h4>Процесс приготовления:</h4>

        <p>
            Для приготовления песто лучше брать самые нежные и молодые листья. Если у вас шпинат грубый, побланшируйте
            его пару минут в кипятке перед приготовлением.
            Листья необходимо промыть и обсушить, отделить от стеблей и нарезать по возможности мельче.
            Затем поместите листья в ступку, немного посолите и разотрите их пестиком. Переложите шпинат в стеклянную
            или керамическую миску и полейте его оливковым маслом.
            Почистите чеснок, мелко нарежьте, переложите в ступку, перетрите пестиком вместе с солью. Добавьте растертый
            чеснок к шпинату. Туда же добавьте натертый на мелкой терке пармезан, хорошенько перемешайте ингредиенты.
            Поджарьте кедровые орешки, перетрите их в ступке и смешайте с соусом. Долейте еще оливкового масла и снова
            все перемешайте. Поставьте на пару часов в холодильник, чтобы соус настоялся.
            Подавайте его к макаронам, рису, бобовым, намазывайте на хлебцы – все это очень вкусно!
        </p>

        <h4>Приятного аппетита!</h4>
    </div>

</div>
