<div>
    <h2>Способы доставки</h2>

    <p>
        Доставка выбранного Вами товара осуществляется в удобное для Вас время, которое
        согласуется с менеджером во время заказа. Заказы через сайт принимаются ежедневно,
        через менеджера понедельник-воскресение с 10:00 до 19:00. Консультация с понедельника по
        воскресение с 10:00 до 19:00. Вы можете сделать заказ любым удобным для вас способом:
    </p>
    <ul>
        <li>
            оформить заказ через корзину сайта (в разработке :))
        </li>
        <li>
            позвонив по телефону +38-067-855-80-82
        </li>

    </ul>
    <p>
        После того как Вы оформили заказ через наш сайт или почту наш менеджер свяжется с

        вами и уточнит необходимые детали доставки.

        Хотим обратить Ваше внимание что для заказа товаров на нашем сайте Вам не

        нужно проходить регистрирацию! Вы просто заполняете корзину товарами которые Вас

        интересуют, при оформлении заказа указываете свои контакты и адрес, время доставки - и

        будьте уверены что заказ скоро будет на Вашем столе.

        Заказы отправляются ПОКА дважды в неделю в среду и пятницу.Заказ полученный в этот

        день до 13.00 отправляются в этот же день!Оплата возможна как на карту Приват банка(+1%за

        обналичку),так и наложеным платежем.

        Отправляем автолюксом,интайм, деливери , ночным экспрессом,новой почтой .

        Страхуем на полную стоимость! Что бы избежать неприятностей с транспортной компанией при

        кражи или повреждения... За пересылку ответственность не несем,так как стараемся упаковать на

        совесть в этом наша заитересованность тоже, что бы вы всё получили в отличном состоянии...
    </p>
</div>
