<div>
    <h2>Доставка и оплата</h2>
    Как сделать заказ на нашем сайте?
    <ul>
        <li>Используя корзину</li>
        <li>По телефонам:<br/>
            +38 (095) 339-31-13 (МТС)<br/>
            +38 (067) 855-80-82 (Киевстар)<br/>
        </li>
    </ul>
    <p>
        Наш оператор обязательно свяжется с Вами для подтверждения заказа и уточнения деталей:
        времени доставки, комплектации заказа, формы оплаты. Если Ви не получили подтверждение о
        заказе в течении суток, просим связаться с нами по телефонам сайта.
        <br/>
    </p>

    <h4>Условия и сроки доставки:</h4>

    <p>
        - Доставка по Украине осуществляется курьерской службой «НОВОЯ ПОЧТА» «Интайм»<br/>
        - минимальный заказ составляет 300грн<br/>
        - при заказе от 500 грн доставка осуществляется БЕСПЛАТНО до склада перевозчика<br/>
        - при заказе менее 500 грн за счет покупателя;<br/>
    </p>

    <p>
        Срок доставки составляет от 2 до 5 дней в зависимости от наличия товара на складе, Если товар
        отсутствует, тогда в течении 7-14 дней.<br/>
    </p>

    <h4>Способы оплаты:</h4>

    <p>
        - Переводом на карточку ПРИВАТБАНКА;<br/>
        - Оплата при получении товара в отделении «Новой Почты» «Интайм» наложным платежом<br/>
    </p>

    <p>
        Мы стараемся для Вашего комфорта, по этому если у Вас есть предложения, пожалуйста, сообщите
        нам о них. Спасибо!<br/>
    </p>
</div>
