<div>
    <h2 class="text-logo">Вас приветствует магазин Buona Italia</h2>

    <p class="text-on-main-page">Итальянская кухня признана одной из лучших в мире и ее секрет заключается в большом
        разнообразии продуктов и приправ. Основными блюдами итальянской кухни признано пиццу и макароны. Макароны бывают
        всех форм и размеров, их добавляют в супы, подают с сыром или с соусом , запекают в духовке и даже начиняют. Из
        макаронных изделий очень распространены спагетти. Макароны непременно подаются с одним из многих традиционных
        соусов. Обилие этих соусов создаёт разнообразие блюд, объединённых в итальянском одним словом <b>«паста»</b>. Но
        кроме этого итальянская кухня известна и такими блюдами как: <i>ризотто, лазанья, равиоли, карпаччо,
            тирамису</i>.</p>

    <p class="text-on-main-page">Основными продуктами питания в Италии это: сыр (моцарелла, пармезан, маскарпоне,
        рикотта), рыба и морепродукты, рис, оливки, оливковое масло, приправы (базилик, розмарин, пепперони), овощи.</p>

    <p class="text-on-main-page">Не стоит забывать и про алкогольные напитки, а именно <b>вино</b>. Вино это популярный
        напиток в Италии. Многие итальянцы пьют его с каждым приемом пищи и между ними. Сложно представить накрытый стол
        без белого или красного вина так как итальянцы являются большими ценителями этого напитка.<br/>
    </p>
</div>
