<div class="container">
    <div class="row">
        <h1>Ассортимент магазина</h1>

        <div class="row">
            <div ng-repeat="item in items" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item-box">
                <div class="text-center">
                    <!--<a href="#/store/{{ item._id }}" title="{{item.name}}">-->
                    <img src="http://localhost:5000/images/{{ item.image }}" class="thumbnail img-responsive"
                         style="height:170px; max-width:170px;">
                    <!--</a>-->

                    <div class="caption">
                        <h3 class="item-name">{{item.name}}</h3>

                        <!--<p>Арт.{{item.code}}</p>-->

                        <!--<p>{{item.description}}</p>-->

                        <p>Цена: {{item.price}} грн.</p>

                        <a href="#/store/{{ item._id }}">
                            <button type="button" class="btn btn-default btn-lg">Подробнее</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>