<div class="container">
    <div class="row">
        <h1>Ассортимент магазина</h1>

        <div class="row">
            <div ng-repeat="item in items" class="col-lg-3 col-sm-4 col-6 item-box">
                <div class="text-center">
                    <a href="#/items/{{ item._id }}" title="{{item.name}}">
                        <img src="public/items-images/{{ item.image }}" class="thumbnail img-responsive">
                    </a>

                    <div class="caption">
                        <h3 class="item-name">{{item.name}}</h3>

                        <!--<p>Арт.{{item.code}}</p>-->

                        <!--<p>{{item.description}}</p>-->

                        <p>Цена: {{item.price}}</p>

                        <p><a class="btn btn-block" href="#/items/{{ item._id }}">Подробнее</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>